<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>List all users</title>
</head>
<body>
	<a th:href="@{/user/add}">New User</a>
	<div th:switch="${data}">
		<h2 th:case="null">No record found !!</h2>
		<div th:case="*">
			<table>
				<thead>
					<tr>
						<th>User Name</th>
						<th>Password</th>
					</tr>
				</thead>
				<tr th:each="d : ${data}">
					<td th:text="${d.userName}"></td>
					<td th:text="${d.password}"></td>
					<td><a th:href="@{/user/edit/{id}(id=${d.id})}">Edit</a></td>
					<td><a th:href="@{/user/delete/{id}(id=${d.id})}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>